# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual env
.venv/

# Env / secrets
.env

# PDF files
*.pdf

# Temp / debug scripts
_*.py
_*.txt

# Build artifacts
dist/
build/
.eggs/

# IDE
.vscode/
.idea/

# GCP / Firebase
.gcloudignore
.firebaserc
firebase.json

# Node
node_modules/

# Ignore everything else on master
*
!README.md
!.gitignore
